---
import Layout from '../layouts/Layout.astro';
import NavLeft from '../components/NavLeft/NavLeft.astro';
---

<Layout title="Contacto | Elena Cibaja - Diseñadora de Interiores" description="Diseño de interiores ...">
	<div class="mandendev-wrapper">
		<NavLeft />
		<main class="mandendev-main-container">
			<section class="mandendev-section">
				<div>
					<h1 class="mandendev-section-h1">Hola.</h1>
					<div class="mandendev-section-wrapper">
						<p>Si tienes alguna duda o necesitas más información, no dudes en ponerte en contacto conmigo.</p>
						<p>Estoy a tu disposición para ayudarte en lo que necesites.</p>
						<br />
						<span
							>Email: <a class="mandenvi-section-link" href="mailto:elenacibaja.interiorismo@gmail.com">elenacibaja.interiorismo@gmail.com</a
							></span
						>
						<br />
						<span
							>En internet:
							<a class="mandenvi-section-link" href="https://www.instagram.com/elenacibajainteriorismo/">Instagram</a>
							/
							<a class="mandenvi-section-link" href="https://www.linkedin.com/in/elena-cibaja-fern%C3%A1ndez-3b3a3b1b3/">LinkedIn</a>
							/
							<a class="mandenvi-section-link" href="https://www.pinterest.es/elenacibaja/">Pinterest</a>
						</span>
					</div>
				</div>
			</section>
		</main>
	</div>
</Layout>

<style>
	.mandendev-wrapper {
		@apply z-[500px] relative bg-main text-secondary;
	}

	.mandendev-main-container {
		@apply max-w-[100%] ml-auto mr-auto pl-[10%] pr-[5%] relative;
		@apply max-lg:max-w-[80%] max-lg:pl-[5%];
		@apply max-md:max-w-full px-[10%];
		@apply max-sm:pb-[10%];
	}
	.mandendev-section {
		@apply flex flex-col items-center justify-center h-screen w-[25%];
		@apply max-lg:w-full max-lg:static;
		@apply max-md:pt-[20%];
	}
	.mandendev-section-h1 {
		@apply mt-[52px] mb-[35px] mx-0 pb-0 relative text-[14vw] tracking-[-3px] font-grandslang font-light leading-4;
		@apply max-md:text-[17vw] max-md:-mt-40;
	}
	.mandendev-section-wrapper {
		@apply text-sm relative leading-[1.9em] mx-0 max-w-[80%] block pt-20;
		@apply max-lg:max-w-[100%];
		@apply max-md:text-xs;
	}
	.mandenvi-section-link {
		@apply hover:line-through transition-all duration-300 ease-in-out;
	}
</style>
