---
import NavLeft from '../components/NavLeft.astro';
import SectionLeft from '../components/SectionLeft.astro';
import SectionRight from '../components/SectionRight.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Elena Cibaja - Diseñadora de Interiores" description="Diseño de interiores ...">
	<div class="mandendev-wrapper">
		<NavLeft />
		<main class="mandendev-main-container">
			<SectionLeft />
			<SectionRight />
		</main>
	</div>
</Layout>

<style>
	.mandendev-wrapper {
		@apply z-[500px] relative;
	}

	.mandendev-main-container {
		@apply max-w-[90%] ml-auto mr-auto pl-[10%] pr-[5%] relative;
		@apply max-lg:max-w-[80%] max-lg:pl-[5%];
		@apply max-md:max-w-full px-[10%];
		@apply max-sm:pb-[10%];
	}
</style>
