---
import Info from '../components/Info.astro';
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Elena Cibaja - Diseñadora de Interiores" description="Diseño de interiores ...">
	<main>
		<Info />
		<Nav />
	</main>
</Layout>

