---
import Container from './Container.astro';
---

<Container>
	<header class="flex justify-between items-center text-xs">
		<section class="flex justify-start items-center gap-8">
			<ul class="flex gap-8 tracking-[0.4em]">
				<li><a href="#">IN</a></li>
				<li><a href="#">LI</a></li>
				<li><a href="#">PI</a></li>
			</ul>
			<span class="h-[2px] bg-main w-16 mt-0 mb-0"></span>
		</section>
		<span>@ /<strong> 2024</strong></span>
	</header>
</Container>
