<nav>
	<ul class="font-grandslang text-5xl uppercase grid gap-4 -tracking-wide">
		<li class="hover:-skew-x-12 hover:translate-x-4 transition-all duration-1000 delay-1000"><a href="#">Sobre Mi</a></li>
		<li class="hover:-skew-x-12 hover:translate-x-4 transition-all duration-1000 delay-1000"><a href="#">Servicios</a></li>
		<li class="hover:-skew-x-12 hover:translate-x-4 transition-all duration-1000 delay-1000"><a href="#">Portafolio</a></li>
		<li class="hover:-skew-x-12 hover:translate-x-4 transition-all duration-1000 delay-1000"><a href="#">Contacto</a></li>
	</ul>
</nav>
