<ul class="nav-left">
	<li class="nav-left-item hover:line-through">
		<a href="#" class="nav-left-link">IN</a>
	</li>
	<li class="nav-left-item hover:line-through">
		<a href="#" class="nav-left-link">LI</a>
	</li>
	<li class="nav-left-item hover:line-through">
		<a href="#" class="nav-left-link">PI</a>
	</li>
	<span class="nav-line"></span>
	<span class="nav-left-item nav-copyright"><strong class="copyright">@/2024</strong></span>
</ul>

<style>
	.nav-left {
		z-index: 600;
		width: 6%;
		height: 100vh;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-top: 5%;
		padding-bottom: 30px;
		display: flex;
		position: fixed;
	}

	@media screen (max-width: 991px) {
		.nav-left {
			width: 10%;
			padding-left: 6px;
		}
	}

	@media screen and (max-width: 767px) {
		.nav-left {
			width: 100%;
			height: auto;
			flex-direction: row;
			justify-content: space-between;
			padding-bottom: 0;
			padding-left: 0;
		}
	}

	@media screen and (max-width: 479px) {
		.nav-left {
			padding-left: 7%;
			padding-right: 7%;
		}
	}

	.nav-left-item {
		flex: 0 auto;
		margin-bottom: 40px;
		padding-left: 20px;
		padding-right: 15px;
		transform: rotate(-90deg);
	}

	@media screen and (max-width: 767px) {
		.nav-left-item {
			margin-bottom: 0;
			transform: rotate(0);
		}
	}

	@media screen and (max-width: 479px) {
		.nav-left-item {
			text-align: center;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.nav-left-link {
		text-align: center;
		letter-spacing: 5px;
		border: 0 solid var(--color-main);
		font-size: 10px;
		font-weight: 500;
		transition: opacity 0.3s;
		display: block;
	}

	a {
		cursor: pointer;
	}
	.nav-line {
		width: 1px;
		height: 100px;
		background-color: var(--color-main);
		margin-top: 10px;
		margin-bottom: 80px;
	}

	@media screen and (max-width: 767px) {
		.nav-line {
			width: 100px;
			height: 2px;

			margin-top: 0;
			margin-bottom: 0;
		}
	}

	@media screen and (max-width: 479px) {
		.nav-line {
			width: 40px;
			margin-left: 7px;
			margin-right: 17px;
			padding-right: 0;
		}
	}

	.nav-left-item.nav-copyright {
		width: 110px;
		position: absolute;
		top: auto;
		bottom: 3vh;
	}

	@media screen and (max-width: 1024px) {
		.nav-left-item.nav-copyright {
		}
	}

	@media screen and (max-width: 991px) {
		.nav-left-item.nav-copyright {
		}
	}

	@media screen and (max-width: 767px) {
		.nav-left-item.nav-copyright {
			position: relative;
			bottom: auto;
			top: auto;
		}
	}

	@media screen and (max-width: 479px) {
		.nav-left-item.nav-copyright {
			position: relative;
			bottom: auto;
			top: auto;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.copyright {
		text-align: center;
		letter-spacing: 4px;
		font-size: 10px;
		font-weight: 500;
	}

	@media screen and (max-width: 767px) {
		.copyright {
			text-align: right;
		}
	}
</style>
