---
import NavLeft from '../components/NavLeft.astro';
import Container from '../components/Container.astro';
import '../styles/main.css';

interface Props {
	description: string;
	title: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="mandendev-body">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--text-main: 'Marcellus SC', serif;
		--text-secondary: 'Grand Slang', sans-serif;
		--color-main: #262626;
		--color-secondary: #d9d6c7;
		--color-tertiary: #f2dad8;
		--color-secondary-d: #a69286;
		--color-tertiary-d: #bf9793;

		view-transition-name: root;
	}

	html {
		font-family: system-ui, sans-serif;
		height: 100%;
		size-adjust: 100%;
		display: block;
	}

	::selection {
		background-color: var(--color-main);
		color: var(--color-secondary);
	}

	.mandendev-body {
		@apply bg-secondary text-main font-marcellus antialiased leading-5 m-0 block;
	}
</style>
