---
import Header from '../components/Header.astro';
import Wrapper from '../components/Wrapper.astro';
import '../styles/main.css';

interface Props {
	description: string;
	title: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="font-marcellus text-main font-light bg-secondary relative">
		<Wrapper>
			<Header />
			<slot />
		</Wrapper>
	</body>
</html>
<style is:global>
	:root {
		--text-main: 'Marcellus SC', serif;
		--text-secondary: 'Grand Slang', sans-serif;
		--color-main: #262626;
		--color-secondary: #d9d6c7;
		--color-tertiary: #f2dad8;
		--color-secondary-d: #a69286;
		--color-tertiary-d: #bf9793;
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
