---
import NavLeft from '../components/NavLeft.astro';
import Container from '../components/Container.astro';
import '../styles/main.css';

interface Props {
	description: string;
	title: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="font-marcellus antialiased text-main bg-secondary">
		<div class="background bg-blue" style="height: 0vh; width: 375px;"></div>
		<Container>
			<NavLeft />
			<slot />
		</Container>
	</body>
</html>
<style is:global>
	* {
		box-sizing: border-box;
	}

	:root {
		--text-main: 'Marcellus SC', serif;
		--text-secondary: 'Grand Slang', sans-serif;
		--color-main: #262626;
		--color-secondary: #d9d6c7;
		--color-tertiary: #f2dad8;
		--color-secondary-d: #a69286;
		--color-tertiary-d: #bf9793;

		view-transition-name: root;
	}
	html {
		font-family: system-ui, sans-serif;
		height: 100%;
		size-adjust: 100%;
		display: block;
	}

	body{
		font-size: 12px;
		line-height: 20px;
		margin: 0;
		display: block;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	::selection {
		background-color: var(--color-main);
		color: var(--color-secondary);
	}

	.background {
		z-index: 700;
		top: auto;
		bottom: 0%;
		left: 0%;
		right: 0%;
	}

	.background.bg-blue {
		background-color: var(--color-main);
		position: fixed;
	}
</style>
